.right_grid {
  margin: 3vh;
}
.text_container {
  margin: 5vh 0;
  width: fit-content;
}
.text_field {
  width: 100%;
  height: 2.3vw;
  border-radius: 20px;
  outline: none;
  border: solid 1px #17252a;
  padding: 0 2vh;
  font-size: 14px;
}
.text_field_2 {
  width: 90%;
  height: 2.3vw;
  border-radius: 20px;
  outline: none;
  border: solid 1px #17252a;
  padding: 0 2vh;
  font-size: 14px;
}
.text_button {
  background-color: #17252a;
  width: 100%;
  height: 2.3vw;
  color: #feffff;
}
.card_chip {
  border: solid 1px #17252a;
  width: max-content;
  padding: 0.5vw 1vw;
  margin: 1vw 0;
  border-radius: 5px;
}
.card_div {
  margin: 6vh 0;
}
