.right_grid_publish {
  margin: 8vh 5vh;
}
.upload_div {
  border-right: solid 1px rgb(196, 196, 196);
  width: 95%;
  height: 50vh;
}
.whole_div {
  margin: 3vh 0;
}
.card_bg_image {
  background-image: url("../../Idea/tile_background_blue.png");
}
