.banner_image {
  height: 100px;
  margin: 0;
  opacity: 70%;
}
.blue {
  background: url("../../Idea/tile_background_blue.png");
}
.green {
  background: url("../../Idea/tile_background_green.png");
}
.pink {
  background: url("../../Idea/tile_background_pink.png");
}
.gold {
  background: url("../../Idea/tile_background_yellow.png");
}
.document {
  border-radius: 20px;
}
.paper_title {
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.paper_des {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}
.content_grid {
  padding-right: 5vh;
}
.subject_pill {
  border: solid 2px rgb(121, 121, 121);
  width: fit-content;
  padding: 1vh 3vh;
  border-radius: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
