.right_grid_publish {
  margin: 8vh 5vh;
}
.upload_div {
  border-right: solid 1px rgb(196, 196, 196);
  width: 95%;
  padding: 0 1vh;
  height: 110%;
}
.whole_div {
  margin: 3vh 0;
}
.card_bg_image {
  background-image: url("../../Idea/tile_background_blue.png");
}
.card_bg_image_yellow {
  background-image: url("../../Idea/tile_background_yellow.png");
}
.card_bg_image_green {
  background-image: url("../../Idea/tile_background_green.png");
}
.card_bg_image_pink {
  background-image: url("../../Idea/tile_background_pink.png");
}
.card_bg_image_pink:hover,
.card_bg_image_green:hover,
.card_bg_image_yellow:hover,
.card_bg_image:hover {
  filter: hue-rotate(90deg);
  transition: 0.5s;
}
.title_card {
  border: solid 3px black;
  font-weight: bold;
}
