.link {
  display: flex;
  align-items: cover;
  cursor: pointer;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.link:hover {
  background-color: #e8f5fe;
  color: #3aafa9;
  transition: color 100ms ease-out;
}
.link > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
.link > .MuiSvgIcon-root {
  padding: 20px;
}
.link_profile {
  text-align: center;
  border-radius: 30px;
  padding: 3vh 0;
}
.link_profile > h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
.link_profile > .MuiSvgIcon-root {
  margin: auto;
}
